# --------------------
# API Server
# --------------------
fastapi==0.117.1
uvicorn==0.36.0
starlette==0.48.0

# --------------------
# Config / Validation
# --------------------
python-dotenv==1.1.0
pydantic==2.11.2
requests==2.32.3

# --------------------
# ML Core (Inference)
# --------------------
numpy==2.2.6
pandas==2.3.3
scikit-learn==1.6.1
scipy==1.11.4
joblib==1.5.3

# --------------------
# Optional (ONLY if model uses it)
# --------------------
xgboost==3.2.0
